

<div class="centered" >
  <br/><br/><br/><br/><br/><br/><br/><br/>
  <div align="center"  >
    <img src="../../../assets/images/curriculum.png">
    <br/><br/>
    <mat-card>Agrega un video selfie de presentación personal para
      conocer más sobre tus aptitudes y experiencia.   </mat-card>

  </div>


</div>
<br/>

<app-uploudfiles align="center" class="centered"></app-uploudfiles>
<br/><br/><br/>
<button  matStepperPrevious  mat-raised-button>Atras</button>
<button  matStepperNext  mat-raised-button>Continuar</button>
