
<div class="centered" >
  <br/><br/><br/><br/><br/><br/><br/><br/>
  <div align="center"  >
    <img src="../../../assets/images/curriculum.png">
    <br/><br/>
    <mat-card>Declaro que toda la información enviada es completamente verídica y acepto las consecuencias respectivas establecidas por la ley por la falsificación de las mismas de ser el caso.</mat-card>

  </div>


</div>
<br/>

<mat-checkbox  >Acepto</mat-checkbox>

<br/><br/><br/>
<button class="mat-elevation-z4" mat-raised-button>Salir</button>


